<div class="section-wrapper">
    <section class="section about" id="Sobre mim">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Eu sou um entusiasta em tecnologia e sou estudante de Direito. Tenho os dois como hobby e unir esses elementos fazem pensar no quanto a tecnologia e suas regulações é uma área pouco explorada no ramo jurídico. Sou um apaixonado por código aberto e pela liberdade trazida pela perspectiva que, sem ela, não conseguiria fazer sequer esse pequeno site.
            </p>
            <p class="paragraph-text justify-text">
                Na área da tecnologia, tenho um grande fascínio pelo mundo Linux e sua filosofia. O conceito de <a href=https://www.gnu.org/philosophy/pragmatic.pt-br.html"><i>copyleft</i></a> é algo que me motiva a continuar pesquisando e entendendo como a comunidade consegue sempre se aprimorar, levando os benefícios a todos e evitando o domínio por grandes corporações.
            </p>
            <p class="paragraph-text justify-text">
                Tenho um canal no <a href ="https://www.youtube.com/@iandieb">YouTube</a>, em que trato de matérias relacionadas principalmente ao Direito (o que pretendo mudar, em breve). Tem sido gratificante produzir, escrever e editar sobre matérias que acho complexas e a <a href="https://www.youtube.com/watch?v=NM-zWTU7X-k">busca por conceituações simples e entendíveis é um exercício e tanto para quem quer ensinar e, principalmente, aprender algo.</a>
            </p>
            <p class="paragraph-text justify-text">
        No Direito, tenho interesse pelas áreas Constitucional, Processual Civil e toda a atuação dessas searas com a tecnologia. Vejo que há muito a se debater e a se evoluir nos próximos anos, especialmente com o <i>boom</i> das LLMs (inteligências artificiais).
            </p>
            <p class="paragraph-text justify-text">
            Meus links e endereço de e-mail para contato estão no <span class="extra-link"><a href="#extra">final da página</a></span>.
        </div>
    </section>
</div>
